
.aside{
    background-color: white;
    width: 400px;
    padding: 20px 60px 25px 60px;
    box-shadow: 0px 0px 20px 5px #888888;
    height: 350px;
    justify-items: center;
    align-items: center;
    margin: 11% 31%;
}
.aside .card input{
    border: none;
    width: 90%;
    border-bottom: 2px solid #cfc5c5;
    padding: 15px 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.aside .card form .first-child{
    display: flex;
    align-items: center;
}
.aside .card form .first-child label{
    margin-right: 20px;
}
.aside .card form .first-child input{
    width: 15%;
    margin: 0px 10px;
    text-align: center;
}
.aside .card form .first-child select{
    width: 20%;
    /* height: 20px; */
    padding: 15px 0px;
    margin: 0px 10px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #cfc5c5;
}

.aside .card form .second-child{
    display: flex;
    align-items: center;
}
.aside .card form .second-child label{
    margin-right: 20px;
}
.aside .card form .second-child input{
    width: 15%;
    margin: 0px 10px;
    text-align: center;
}
.aside .card form .second-child select{
    border: none;
    border-bottom: 2px solid #cfc5c5;
    margin-left: 10px;
    padding: 14px 0px 13px 0px;
    width: 20%;
}
.aside .card form .third-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #cfc5c5;
    margin: 20px 0px;
    font-weight: bold;
}
.aside .card form .third-child input[type = button]{
    justify-content: center;
    text-align: center;
    border: none;
    width: 20px;
    background: none;
}
.aside .card form button[type = submit]{
    width: 100%;
    height: 45px;
    background: #181717;
    color: white;
    border: none;
}